.cover__subtitle{
    width: 35%;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    position: relative;
    padding-top: 32px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .cover__subtitle{
        width: 100%;
        min-height: 48px;
        font-size: 14px;

    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .cover__subtitle{
        width: 50%;

    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){

    .cover__subtitle{
        width: 40%;
    }
}