.lang_link {
    font-size: 1.5rem;
    line-height: 1.75;
    font-style: normal;
    color: white;
    text-decoration: none;
}

.lang_link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .lang_link {
        font-size: 18px;
        line-height: 20px;
        font-weight: normal;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .lang_link {
        font-size: 24px;
        line-height: 28px;
        font-weight: normal;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){

    .logo {
        max-width: 176px;
        max-height: 52px;
    }
}