.place__links{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 8px;
    align-self: end;

}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .place__links{
        display: none;
        padding-top: 66px;
    }
}