.cover__title {
    width: 45%;
    font-size: 72px;
    line-height: 1.05;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .cover__title{
        width: 90%;
        font-weight: 900;
        font-size: 32px;
        line-height: 109%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .cover__title{
        width: 70%;
        font-weight: 900;
        font-size: 72px;
        line-height: 0.9;
        padding-bottom: 32px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){

    .cover__title{
        width: 50%;
        padding-bottom: 32px;
    }
}