.place{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 48px;
    max-width: 984px;
    margin: auto;
    
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .place{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .place{
        column-gap: 40px
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){

    .place{
        column-gap: 32px
    }
}